<template>
  <Tiptap/>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Tiptap from './components/Tiptap.vue'

export default defineComponent({
  name: 'App',
  components: {
    Tiptap
  }
})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
